<div class="max-w-md mx-auto">
    <form
      [formGroup]="formData"
      (ngSubmit)="onSubmit(formData.value)"
      class="py-12"
      role="form"
    >
      <h2 class="text-2xl font-bold">Update Book</h2>
      <div class="mt-8">
        <div class="grid grid-cols-1 gap-6">
          <label class="block">
            <span class="text-gray-700">Author</span>
            <input
              type="text"
              class="
                mt-0
                block
                w-full
                px-0.5
                border-0 border-b-2 border-gray-200
                focus:ring-0 focus:border-black
              "
              formControlName="author"
            />
          </label>
          <label class="block">
            <span class="text-gray-700">Title</span>
            <input
              type="text"
              class="
                mt-0
                block
                w-full
                px-0.5
                border-0 border-b-2 border-gray-200
                focus:ring-0 focus:border-black
              "
              formControlName="title"

            />
          </label>
          <label class="block">
            <span class="text-gray-700">Year</span>
            <input
              type="date"
               class="
                mt-0
                block
                w-full
                px-0.5
                border-0 border-b-2 border-gray-200
                focus:ring-0 focus:border-black
              "
              formControlName="year"
            />
          </label>
          <label class="block">
            <span class="text-gray-700">Pages</span>
            <input
              type="number"
              class="
                mt-0
                block
                w-full
                px-0.5
                border-0 border-b-2 border-gray-200
                focus:ring-0 focus:border-black
              "
              formControlName="pages"
            />
          </label>
          <label class="block">
            <span class="text-gray-700">Country</span>
            <input
            type="text"
            class="
              mt-0
              block
              w-full
              px-0.5
              border-0 border-b-2 border-gray-200
              focus:ring-0 focus:border-black
            "
            formControlName="country"

          />

          </label>
          <label class="block">
            <span class="text-gray-700">Language</span>
            <input
              type="text"
              class="
                mt-0
                block
                w-full
                px-0.5
                border-0 border-b-2 border-gray-200
                focus:ring-0 focus:border-black
              "
              formControlName="language"

            />
          </label>
          <div class="block">
            <div class="mt-2">
              <div>
                <button
                  class="
                    bg-blue-500
                    hover:bg-blue-700
                    text-white
                    font-bold
                    py-2
                    px-4
                    rounded
                  "
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

